.carte-bouteille{
    display: flex;
    max-width: 90%;
    padding: 5px;
    gap:30px;
}
.carte-bouteille>img{
    object-fit: cover;
    width: 60px;  
}
.carte-details{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.carte-action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carte-action img{
    padding: 8px;
    border-radius: 50%;
    background-color: rgb(204, 195, 174);

}
.container-bouteilles{
    display: flex;
    flex-direction: column;
    gap:25px;
}
