.carte-cellier,.carte-cellier div{
    display: flex;
}
.carte-cellier{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.carte-cellier > img {
    object-fit: cover; 
    width: 25px; 
    padding: 8px; 
      
}
.carte-cellier > div:nth-child(2) {
    flex-direction: column;
}

.carte-cellier>small {
    color: grey;
    text-align: left;
}
#nom-cellier{
    font-weight: bold;
    font-size: 20px;
}
.carte-ajout{
    text-align: center;
}