
.filter-container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* overflow: hidden; */
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 55px;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-out;
    transform: translateX(100%);
    z-index: 30;
    overflow: hidden;
}


.filter.show {
    transform: translateX(0);
    text-align: center;
}

.toggle-filter {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-out;
}

.close{
    padding: 8px 12px;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;

}