.formulaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap:30px;
    padding:15px;
}
.formulaire_connexion form input[type="text"],
.formulaire_connexion form input[type="date"],
.formulaire_connexion form input[type="email"],
.formulaire_connexion form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    min-width: 300px;
}
.formulaire-container div a {
    color: rgb(54, 7, 7);
}
.form_bouteille_personnalisee{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form_bouteille_personnalisee>.bouton{
    margin: 0 auto;
    margin-top: 20px;
}
.form_bouteille_personnalisee select{
    min-height:30px;
}
