.logo {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo img {
    max-width: 100%;
    height: auto;
}

.logo span {
    font-size: 2em;
    text-transform: uppercase;
}