.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 20px 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.pagination-container li {
    list-style-type: none; 
}

.pagination-link {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    transition: all 0.3s ease;
}


.disabled {
    color: #e6e6e6;
    border-radius: 3px;
} 
