.pagination-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.pagination-link {
    text-decoration: none;
    color: #337ab7;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.pagination-link:hover {
    background-color: #337ab7;
    color: #fff;
}

.disabled {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
}
